<h2 class="h2"> Employee List </h2>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th> First Name </th>
            <th> Last Name </th>
            <th> Email </th>
            <th> Actions </th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let employee of employees;let i = index">
            <td> {{ employee.firstName }} </td>
            <td> {{ employee.lastName }} </td>
            <td> {{ employee.email}} </td>
            <td>
                <button (click)="updateEmployeeInformations(employee.id)" class="btn btn-info"> Update </button>
                <view-button-react id="view-button" label="View" color="green" [attr.employee]="employee.id">
                </view-button-react>

                <react-mark-element id="mark-mark" name="mark" [attr.entry]="employee.id" isChecked="false"></react-mark-element>

            </td>
        </tr>
    </tbody>


</table>